@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --site-color: #3a7afe;
  --main-color: #ebeef6;
  --active-color: #d4def7;
  --bg-color: #ecedf0;
  --second-color: #f1f1f1;
  --third-color: #9fa7bd;
  --fourth-color: #fff;
  --fifth-color: #000;
  --sixth-color: #222;
  --main-bg-color: #192039;
  --second-bg-color: #1e2746;
  --third-bg-color: #3a7afe;
  --fourth-bg-color: #131b38;
  --primary-color: #0088cc;
  --success-color: #47a447;
  --info-color: #5bc0de;
  --warning-color: #ed9c28;
  --danger-color: #d2322d;
  --primary-color-second: #cfe2ff;
  --success-color-second: #d1e7dd;
  --info-color-second: #cff4fc;
  --warning-color-second: #fff3cd;
  --danger-color-second: #f8d7da;
}

body {
  background-color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-login {
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: 0 5px;
}

.wrapper-login {
  width: 100%;
  background: var(--second-color);
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper-login .title {
  height: 90px;
  background-color: var(--main-bg-color);
  border-radius: 5px 5px 0 0;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-login .form-login {
  padding: 25px;
}

.wrapper-login .form-login .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper-login .form-login .row input, 
.wrapper-login .form-login .row .button-login {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid var(--active-color);
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-login .row input::placeholder {
  color: var(--third-color);
}

.wrapper-login .form-login .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: var(--main-color);
  font-size: 18px;
  background: var(--second-bg-color);
  border: 1px solid var(--active-color);
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-login .form-login .button .button-login {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 300;
  padding-left: 0px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--active-color);
  cursor: pointer;
}

.wrapper-login .form-login .button .button-login:hover {
  background: var(--second-bg-color);
}

.wrapper-login .form-login .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}

.wrapper-login .form-login .signup-link .link-pg-login {
  color: var(--main-bg-color);
  text-decoration: none;
}

.wrapper-login .form-login .signup-link .link-pg-login:hover {
  color: var(--site-color);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Alerta */
.alert-primary {
  background-color: var(--primary-color-second);
  color: var(--primary-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}

.alert-success {
  background-color: var(--success-color-second);
  color: var(--success-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}

.alert-warning {
  background-color: var(--warning-color-second);
  color: var(--warning-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}

.alert-danger {
  background-color: var(--danger-color-second);
  color: var(--danger-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}

.alert-info {
  background-color: var(--info-color-second);
  color: var(--info-color);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}